<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Name='Foobar 1.0' Version='1.0.0' Manufacturer='Acme Ltd.' Language='1033'
           UpgradeCode='48d1415a-0bfa-4b17-a38c-ddff1df037a4' Id='*'>
    <Package InstallerVersion='450' Compressed='yes' InstallScope="perMachine"/>
    <MediaTemplate EmbedCab="yes"/>

    <WixVariable Id="WixUILicenseRtf" Value="..\License.rtf"/>
    <WixVariable Id="WixUIBannerBmp" Value="..\imgTop.png"/>
    <WixVariable Id="WixUIDialogBmp" Value="..\imgLeft.png"/>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='Acme' Name='Acme'>
          <Directory Id='INSTALLDIR' Name='Foobar 1.0'>
            <Component Id='ReadMe.component'>
              <File Id='ReadMe.fileID' Name='FoobarAppl10.txt' Source='FoobarAppl10.txt' KeyPath='yes'/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id='Complete'>
      <ComponentRef Id='ReadMe.component'/>
    </Feature>
    <!--  UI BEGIN -->
    <UI>
    <UIRef Id="WixUI_Mondo"/>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">
          WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
      </Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="&amp;Open readme.txt"/>
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes"/>
    <Property Id="WixShellExecTarget" Value="[#ReadMe.fileID]"/>
    <!--  UI END -->
  </Product>
</Wix>
