<?xml version='1.0' encoding='UTF-8'?>
<Wix
    xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product
      Name='Foobar 1.0'
      Version='1.0.0'
      Manufacturer='Acme Ltd.'
      Language='1033'
      UpgradeCode='a5abb1d6-f9da-4e4c-acbe-e77035e23211'
      Id='*'
      >
    <Package InstallerVersion='450' Compressed='yes' InstallScope="perMachine" />
    <MediaTemplate EmbedCab="yes" />

    <WixVariable Id="WixUILicenseRtf" Value="..\License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="..\imgTop.png" />
    <WixVariable Id="WixUIDialogBmp" Value="..\imgLeft.png" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='Acme' Name='Acme'>
          <Directory Id='INSTALLFOLDER' Name='Foobar 1.0'>
            <Component Id='MainExecutable'>
              <File Id='FoobarEXE' Name='FoobarAppl10.exe' Source='FoobarAppl10.exe' KeyPath='yes'/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id='Complete'>
      <ComponentRef Id='MainExecutable' />
    </Feature>
    <UIRef Id="ProductUI" />
  </Product>

    <Fragment>
    <Property Id="WIXUI_INSTALLDIR"         Value="INSTALLFOLDER"/> <!-- MUST for  WixUI_InstallDir -->
    <UI Id="ProductUI">

      <UIRef Id="WixUI_InstallDir" />

      <Publish Dialog="InstallDirDlg"     Control="Next" Event="NewDialog" Value="ProductUIsettings" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>

      <Publish Dialog="ProductUIsettings" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="ProductUIsettings" Control="Back" Event="NewDialog" Value="InstallDirDlg">1</Publish>

      <Publish Dialog="VerifyReadyDlg"    Control="Back" Event="NewDialog" Value="ProductUIsettings" Order="1">NOT Installed</Publish>

      <ProgressText Action="WriteConfig_DECAC">Configuring minion</ProgressText>
    </UI>
  </Fragment>


  <Fragment>
    <UI>
      <Dialog Id="ProductUIsettings" Width="370" Height="270" Title="[ProductName] Setup">
        <Control Id="Title"        Type="Text"       X="15"  Y="6"   Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Hosts Specification" />
        <Control Id="Description"  Type="Text"       X="15"  Y="23"  Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Please specify master and minion." />
        <Control Id="BannerBitmap" Type="Bitmap"     X="0"   Y="0"   Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine"   Type="Line"       X="0"   Y="44"  Width="370" Height="0" />
        <Control Id="BottomLine"   Type="Line"       X="0"   Y="234" Width="370" Height="0" />

        <Control Id="MasterLabel"  Type="Text"       X="20"  Y="75"  Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Master (single hostname or IP address):" />
        <Control Id="MasterId"     Type="Edit"       X="20"  Y="90"  Width="190" Height="15" Property="MASTER" />

        <Control Id="MinionLabel"  Type="Text"       X="20"  Y="120" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Minion:" />
        <Control Id="MinionId"     Type="Edit"       X="20"  Y="135" Width="190" Height="15" Property="MINION_ID" />

        <Control Id="StartService" Type="CheckBox"   X="20"  Y="210" Width="280" Height="15" Property="START_MINION" CheckBoxValue="1" Text="&amp;Start salt-minion service immediately"/>
        <Control Id="Next"         Type="PushButton" X="236" Y="243" Width="56"  Height="17" Default="yes" Text="!(loc.WixUINext)" />
        <Control Id="Back"         Type="PushButton" X="180" Y="243" Width="56"  Height="17"               Text="!(loc.WixUIBack)" />
        <Control Id="Cancel"       Type="PushButton" X="304" Y="243" Width="56"  Height="17" Cancel="yes"  Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>
    </UI>
  </Fragment>


</Wix>
