<?xml version="1.0" encoding="UTF-8"?>
<Wix
    xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product
      Name='Foobar'
      Version='2.0.0'
      Manufacturer='Acme Ltd.'
      Language='1033'
      UpgradeCode='802c19d8-ace7-4f76-bf00-7132df6a92a9'
      Id='*'
      >
    <Package InstallerVersion='450' Compressed='yes' InstallScope="perMachine" />
    <MediaTemplate EmbedCab="yes" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Property     Id="echo_always"       Value='"cmd.exe" /C echo echoed always'/>
    <CustomAction Id="echo_always"       Impersonate="no" Execute="deferred" Return="check" BinaryKey="WixCA" DllEntry="WixQuietExec64" />
    <Property     Id="echo_on_upgrade"   Value='"cmd.exe" /C echo echoed on upgrade'/>
    <CustomAction Id="echo_on_upgrade"   Impersonate="no" Execute="deferred" Return="check" BinaryKey="WixCA" DllEntry="WixQuietExec64" />

    <InstallExecuteSequence>
      <Custom Action="echo_always"       After='InstallInitialize'>1</Custom>
      <Custom Action="echo_on_upgrade"   After='InstallInitialize'>WIX_UPGRADE_DETECTED</Custom>
    </InstallExecuteSequence>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='Acme' Name='Acme'>
          <Directory Id='INSTALLFOLDER' Name='Foobar'>
            <Directory Id='BINFOLDER' Name='bin'>
              <Component Id='MainExecutable'>
                <File Id='FoobarEXE' Name='FoobarAppl20.exe' Source='FoobarAppl20.exe' KeyPath='yes'/>
              </Component>
            </Directory>
            <Directory Id='VARFOLDER' Name='var'>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id='Complete' Level='1'>
      <ComponentRef Id='MainExecutable'/>
      <Feature     Level="0" Id="Only_on_uninstall_not_upgrade" Display="hidden" AllowAdvertise="no">
        <Condition Level="1">REMOVE ~= "ALL"</Condition>
        <ComponentRef Id="RemoveFolderEx_VARFOLDER_Component"/>
      </Feature>
      <ComponentRef Id="RemoveFolderEx_BINFOLDER_Component"/>
    </Feature>
  </Product>

  <Fragment Id="RemoveFolderEx_Fragment">
    <?define RegDir="SOFTWARE\ACME\Foobar"?>
    <?define RegVal_BINFOLDER="RememberForRemoveFolderEx_BINFOLDER"?>
    <?define RegVal_VARFOLDER="RememberForRemoveFolderEx_VARFOLDER"?>
    <Property Id="BINFOLDER">
      <RegistrySearch Root="HKLM" Key="$(var.RegDir)" Type="raw"
                Id="APPLICATIONFOLDER_REGSEARCH_BIN" Name="$(var.RegVal_BINFOLDER)" />
    </Property>
    <Property Id="VARFOLDER">
      <RegistrySearch Root="HKLM" Key="$(var.RegDir)" Type="raw"
                Id="APPLICATIONFOLDER_REGSEARCH_VAR" Name="$(var.RegVal_VARFOLDER)" />
    </Property>

    <DirectoryRef Id='BINFOLDER'>
      <Component Id="RemoveFolderEx_BINFOLDER_Component" Guid="331a941c-4430-4f11-ba89-6f3dfad24aef">
        <RegistryValue Root="HKLM" Key="$(var.RegDir)" Name="$(var.RegVal_BINFOLDER)"
                Type="string" Value="[BINFOLDER]" KeyPath="yes"/>
        <CreateFolder Directory="BINFOLDER"/>
        <util:RemoveFolderEx Property="BINFOLDER" On="uninstall"/>  <!-- uninstall INCLUDES UPGRADE! -->
        <RemoveFolder Id="BINFOLDER" On="uninstall"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id='VARFOLDER'>
      <Component Id="RemoveFolderEx_VARFOLDER_Component" Guid="304236f6-56c1-44d8-8312-e1e096a01824">
        <RegistryValue Root="HKLM" Key="$(var.RegDir)" Name="$(var.RegVal_VARFOLDER)"
                Type="string" Value="[VARFOLDER]" KeyPath="yes"/>
        <CreateFolder Directory="VARFOLDER"/>
        <util:RemoveFolderEx Property="VARFOLDER" On="uninstall"/>  <!-- uninstall INCLUDES UPGRADE! -->
        <RemoveFolder Id="VARFOLDER" On="uninstall"/>
      </Component>
    </DirectoryRef>


  </Fragment>

</Wix>
