<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- This fragment is included by Product.wxs -->
  <Fragment>
    <UI Id="ProductUI">

      <UIRef Id="WixUI_InstallDir" />

      <Publish Dialog="InstallDirDlg"     Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4">1</Publish>

    </UI>
  </Fragment>
</Wix>
