<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product
      Name='Foo 1.0'
      Version='1.0.0'
      Manufacturer='Acme Ltd.'
      Language='1033'
      UpgradeCode='fc67ab4e-2f1a-47bb-a64f-5c17ff8107da'
      Id='*'>
    <Package InstallerVersion='500' Compressed='yes' InstallScope="perMachine"/>
    <Directory Id='TARGETDIR' Name='SourceDir'>    <!-- fixed expression -->
      <Directory Id="$(var.PROGRAMFILES)">    <!-- commonly    C:\Program Files or   C:\Program Files (x86) -->
        <Directory Id='Acme' Name='Acme'>
          <Directory Id='INSTALLDIR' Name='Foo'> <!-- user can set on commandline or GUI  -->
            <Component Id='Exe.component' Win64="$(var.WIN64)">
              <File Id='Exe.fileID' Source="$(var.EXE)" KeyPath='yes'/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="CommonAppDataFolder">    <!-- commonly    %ProgramData% C:\ProgramData -->
        <Directory Id="ManufacturerFolder" Name="Acme">
          <Directory Id="MyAppFolder" Name="Foo">
            <Component Id='ReadMe.component' Win64="$(var.WIN64)">
              <File Id='ReadMe.fileID' Source="$(var.CONFIG)" KeyPath='yes'/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id='Complete'>
      <ComponentRef Id='Exe.component'/>
      <ComponentRef Id='ReadMe.component'/>
    </Feature>
    <!--  The GUI  -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/> <!-- For a user using the GUI -->
    <UIRef Id="ProductUI" />         <!-- ProductUI.wxs must be parameter to candle and light -->
    <!--  No cab  -->
    <MediaTemplate EmbedCab="yes"/>
  </Product>
</Wix>
