<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
      Name='Foobar 1.0'
      Version='1.0.0'
      Manufacturer='Acme Ltd.'
      Language='1033'
      Id='*'
      UpgradeCode='2e5225fc-f392-4d9a-8b42-ff32c650ce1a'
      >
    <Package InstallerVersion='500' Compressed='yes' InstallScope="perMachine" />
    <CustomAction Id="show_InstallFolder_early" Script="vbscript">
Set fso = CreateObject("Scripting.FileSystemObject")
Session.Property("show_InstallFolder_early_debug") =  Session.Property("INSTALLFOLDER")
if fso.FolderExists(Session.Property("INSTALLFOLDER")) then
    Session.Property("show_InstallFolder_early_debug") = "found"
Else
    Session.Property("show_InstallFolder_early_debug") = "NOT found"
end if
Session.Property("show_InstallFolder_early_debug") = "ended"
    </CustomAction>
    <CustomAction Id="show_InstallFolder_late" Script="vbscript">
Set fso = CreateObject("Scripting.FileSystemObject")
Session.Property("show_InstallFolder_late_debug") =  Session.Property("INSTALLFOLDER")
if fso.FolderExists(Session.Property("INSTALLFOLDER")) then
    Session.Property("show_InstallFolder_late_debug") = "found"
Else
    Session.Property("show_InstallFolder_late_debug") = "NOT found"
end if
Session.Property("show_InstallFolder_late_debug") = "ended"
    </CustomAction>
    <MediaTemplate EmbedCab="yes" />
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='Acme' Name='Acme'>
          <Directory Id='INSTALLFOLDER' Name='Foobar'>
            <Component Id='MainExecutable'>
              <File Id='FoobarEXE' Name='FoobarAppl10.exe' Source='FoobarAppl10.exe' KeyPath='yes'/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id='Complete'>
      <ComponentRef Id='MainExecutable'/>
    </Feature>
    <InstallExecuteSequence>
      <Custom Action='show_InstallFolder_early'       After='InstallInitialize'>1</Custom>
      <Custom Action='show_InstallFolder_late'        After='InstallFinalize'  >1</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>
